.box {
  background: rebeccapurple;
  width: 200px;
  height: 200px;
  margin: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-two {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.grid-three {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.box-three {
  background: royalblue;
  height: 100px;
}
